/target/
/.toolchain/
/.cargo-home/
/.rustup-home/
/.cargo-cache/
/.cargo/registry/
/.cargo/.global-cache
/.cargo/.package-cache
/.cargo/.package-cache-mutate
/.rustup/
/.venv/
/dist/
__pycache__/
*.py[cod]
*.tmp
*.swp
.DS_Store
